$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
// $primary-color: #F4E041;
$secondary-color: #00BDD3;
$bgc-primary: #F8F8F8;
$bgc-secondary: #FFFFFF;

// $black: rgba(0, 0, 0, 0.87);
// $white: #FFFFFF;
// $light-gray: #7E7E7E;

$text-primary-color: rgba(0, 0, 0, 0.87);
$text-secondary-color: #FFFFFF;
$text-third-color: #7E7E7E;
$error-color: #CB3D40;
$button-bgc-primary: #F4E041;
$button-bcg-hover: #FFE302;
$button-bgc-disabled: #B4B4B4;
$border-color: #D0CFCF;